<a href="https://colab.research.google.com/github/jahnvishukla2023-hash/Sets-and-Dictionary/blob/main/Sets_and_Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Experiment No.-5
##Title- To Study Set and Dictionaries in Python
##Jahnvi Shukla
##PRN- 25070123055
##ENTC-A3

#Set

In [ ]:
#Cretion of set
myset = {"maths", "phy", "chem"}
print("Initial set:", myset)

Initial set: {'maths', 'phy', 'chem'}

In [ ]:
#dupliates are not allowed in sets
myset.add("maths")
print("Set after trying to add dupliate element maths:", myset)

Set after trying to add dupliate element maths: {'maths', 'phy', 'chem'}

In [ ]:
#The values True and 1 are considered the same val;ue in sets, and are treated as duplictes
myset = {"maths", "phy", "chem", True, 1 ,2}
print(myset)

{True, 2, 'chem', 'phy', 'maths'}

In [ ]:
#A et ith string integers are boolean values
set1 = {"xyz", 78, True, 38, "female", 11.3}
set1

{11.3, 38, 78, True, 'female', 'xyz'}

In [ ]:
#To check membership
print("maths" in myset)
print("chem" in myset)

True
True

In [ ]:
#once a set is created, we cannot change its elements, but we can add elements
myset.add("eng")
myset

{2, True, 'chem', 'eng', 'maths', 'phy'}

In [ ]:
#remove item
myset = {"maths", "phy", "chem"}
myset.remove("phy")
myset

{'chem', 'maths'}

In [ ]:
#Set Operations
C = {2, 3, 4, 6, 8, 9}
D = {1, 2, 3, 5, 7, 9}

print("Union:", C|D)
print("Intersection:", C & D)
print("Difference:", C - D)
print("Symmetric Difference:", C^D)

Union: {1, 2, 3, 4, 5, 6, 7, 8, 9}
Intersection: {9, 2, 3}
Difference: {8, 4, 6}
Symmetric Difference: {1, 4, 5, 6, 7, 8}

#Python frozenset

In [ ]:
#frozenet
a = frozenset({"maths", "phy", "chem"})
print(a)
print(type(a))

frozenset({'maths', 'phy', 'chem'})
<class 'frozenset'>

In [ ]:
#adding or removal of elements are not allowed in frozenset
a= frozenset({"maths", "phy", "chem"})
a.add("eng")
a
a.remove("maths")
a

AttributeError: 'frozenset' object has no attribute 'add'

In [ ]:
#Problem 1: Unique event participants
participants = {"jahnvi", "jayvee", "drishti", "falak", "hiranya", "jahnvi", "jayvee"}
unique = set(participants)
print("Names of unique participants:", unique)

Names of unique participants: {'drishti', 'falak', 'hiranya', 'jahnvi', 'jayvee'}

In [ ]:
#Problem 2: three students choose elective subjects
jahnvi = {"maths", "phy", "chem", "eng"}
jayvee = {"bio", "eng", "chem", "phy"}
drishti = {"phy", "chem", "bio", "maths"}
print("The common subjects chosen by the students:", jahnvi & jayvee & drishti)

The common subjects chosen by the students: {'phy', 'chem'}

In [ ]:
#Problem 3: Students in sports
hockey_club = {"jahnvi", "jayvee", "hiranya", "drishti"}
tennis_club = {"jahnvi", "drishti", "falak", "shreya"}
print("Students in both clubs:", hockey_club & tennis_club)
print("Students in only one club:", hockey_club^tennis_club)

Students in both clubs: {'drishti', 'jahnvi'}
Students in only one club: {'hiranya', 'jayvee', 'shreya', 'falak'}

In [ ]:
#Problem 4: Absent students
all_students = {"jahnvi", "jayvee", "hiranya", "drishti", "falak", "shreya", "gunjan", "tannishta"}
present = {"jahnvi", "hiranya", "jayvee", "tannishtha", "shreya", "drishti"}
print("The absent students:", all_students - present)

The absent students: {'gunjan', 'tannishta', 'falak'}

In [ ]:
#Problem 5: Remove invalid entries
courses = {"cla", "amt", "dcld", "pc", "edp", "feee", "pes", "iks", "ct"}
discontinued_course = ("cla", "pc", "feee")
print("Updated courses:", courses)

Updated courses: {'dcld', 'amt', 'ct', 'iks', 'pc', 'pes', 'feee', 'cla', 'edp'}

#Python Dictionaries

In [ ]:
#Creation of dictionary
mydict = {
    "name": "Jahnvi",
    "fruit" : "apple",
    "meal" : "dinner"
}
print(mydict)

{'name': 'Jahnvi', 'fruit': 'apple', 'meal': 'dinner'}

In [ ]:
#Dictionary takes latest value given for key. It will not allow duplicates
mydict = {
    "name": "Jahnvi",
    "fruit" : "apple",
    "meal" : "dinner",
    "meal": "lunch"
}
print(mydict)

{'name': 'Jahnvi', 'fruit': 'apple', 'meal': 'lunch'}

In [ ]:
#Length of dictionary
mydict = {
    "name": "Jahnvi",
    "fruit" : "apple",
    "meal" : "dinner",
    "meal": "lunch"
}
print("Length of this dict", len(mydict))

Length of this dict 3

In [ ]:
#Class of dictionary
mydict = {
    "name": "Jahnvi",
    "fruit" : "apple",
    "meal" : "dinner",
    "meal": "lunch"
}
print(type(mydict))

<class 'dict'>

In [ ]:
#Changing/Adding key, values in dictionary
mydict = {
    "name": "Jahnvi",
    "fruit" : "apple",
    "meal" : "dinner"
}
y = mydict.values()
mydict["colour"] = "blue"
print(y)

dict_values(['Jahnvi', 'apple', 'dinner', 'blue'])

In [ ]:
student = {
    "prn": 25070123055,
    "name": "Jahnvi",
    "branch": "ENTC"
}
print("PRN: ", student["prn"])
print("Name: ", student["name"])

PRN:  25070123055
Name:  Jahnvi

In [ ]:
#Adding and updating elements
student["year"] = "First"
student["division"] = "A"
student["name"] = "Shukla"
print(student)

{'prn': 25070123055, 'name': 'Shukla', 'branch': 'ENTC', 'year': 'First', 'division': 'A'}

In [ ]:
#Removing elements
student.pop("division")
print("After removal:", student)

After removal: {'prn': 25070123055, 'name': 'Shukla', 'branch': 'ENTC', 'year': 'First'}

In [6]:
#Problem 1: Product price
product = {
    "name": "chips",
    "price": "20"
}
print("Original price:", product)

product["price"]= 35

print("Updated price:", product)

Original price: {'name': 'chips', 'price': '20'}
Updated price: {'name': 'chips', 'price': 35}

In [16]:
#Problem 2: Marks of student
studentlist = {
    "jahnvi" : 45,
    "falak" : 40,
    "hiranya" : 39
    }
name = input("enter name of student: ")
print(studentlist.get(name, "student is not found"))

enter name of student: jahnvi
45

In [20]:
#Problem 3: User login
username = { "abc" : '1234', "xyz": '5678', "efg" : '2468', "mno" : '1357'}
name = input("enter your username: ")
password = input("enter your password: ")
if username.get(name) == password:
  print("Login successfull")
else:
  print("Invalid login")

enter your username: axe
enter your password: 2345
Invalid login

In [21]:
#Problem 4: Student's highest marks
marks = {"jahnvi" : 95, "hiranya" : 92, "falak" : 98}
highest = max(marks, key=marks.get)
print("highest marks: ", highest)
print("marks: ", marks[highest])

highest marks:  falak
marks:  98